*{
    padding:0px;
    margin:0 auto;
}
html, body {
    height: 100vh;
    width: 100%;
}
body {
    background: rgb(53, 53, 53);
}
header {
    background: rgb(0, 153, 255);
    height: 150px;
    display: block;
    text-align: center;
}
header h1 {
    color: #fff;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}
.subheader {
    background: #fff;
    height: 40px;
}