<div class="subheader">
    <div class="subheader-menu" ng-controller="menuCtrl">
        <a id="panel" ng-click="itemClick('panel')">
            <i class="fa fa-area-chart"></i> Panel
        </a>
        <a  id="lideres" ng-click="itemClick('lideres')">
            <i class="fa fa-user"></i> Lideres
        </a>
        <a  id="filiados" ng-click="itemClick('filiados')">
            <i class="fa fa-users"></i> Filiados
        </a>
        <a  id="campanhas" ng-click="itemClick('campanhas')">
            <i class="fa fa-envelope"></i> Campanha
        </a>
        <a  id="agenda" ng-click="itemClick('agenda')">
            <i class="fa fa-calendar"></i> Agenda
        </a>
        <a ng-click="itemClick('logout')">
            <i class="fa fa-user-times"></i> Sair
        </a>
    </div>
</div>