<div class="subheader">
    <div class="subheader-menu" ng-controller="menuCtrl">
        <a ng-click="itemClick('home')">
            <i class="fa fa-area-chart"></i> Panel</a>
        <a ng-click="itemClick('campanha')">
            <i class="fa fa-user"></i> Lideres</a>
        <a ng-click="itemClick('filiar')">
            <i class="fa fa-users"></i> Filiados</a>
        <a ng-click="itemClick('filiar')">
            <i class="fa fa-calendar"></i> Agenda
        </a>
        <a ng-click="itemClick('login')">
            <i class="fa fa-user-times"></i> Sair</a>
    </div>
</div>