<div class="subheader">
    <div class="subheader-menu" ng-controller="menuCtrl">
        <a id="home" ng-click="itemClick('home')">
            <i class="fa fa-home"></i> Início</a>
        <a id="campanha" ng-click="itemClick('campanha')">
            <i class="fa fa-newspaper-o"></i> Campanha</a>
        <a id="filiar" ng-click="itemClick('filiar')">
            <i class="fa fa-group"></i> Filiar-se</a>
        <a id="login" ng-click="itemClick('login')">
            <i class="fa fa-user"></i> Acessar</a>
    </div>
</div>