<div class="wapp">
    <div ng-include="'app/views/commons/header.html'"></div>
    <div ng-include="'app/views/commons/subheader.html'"></div>
    <div ng-include="menu" ng-controller="menuCtrl"></div>        
    <div id="form" style="padding:10px 20px; margin-bottom:40px;">
        <form>
            <input type="hidden" class="form-control" id="id" ng-model="obj.id">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" ng-model="obj.nome">
            </div>
            <div class="form-group">
                <label for="datanascimento">Data Nascimento:</label>
                <input type="date" class="form-control" id="datanascimento" ng-model="obj.datanascimento">
                </select>
            </div>
            
            <!-- <h4>Contato</h4><hr> -->
            <div class="form-group">
                <label for="nome">Celular:</label>
                <input type="phone" class="form-control" id="celular" ng-model="obj.celular">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" ng-model="obj.email">
            </div>

            <!-- <h4>Endereço</h4><hr> -->
            <div class="form-group">
                <label for="nome">Bairro:</label>
                <select class="form-control" name="bairro" id="bairro" ng-model="obj.idbairro" ng-options="obj.id as obj.nome group by obj.zona for obj in bairros">
                </select>
            </div>
            <div class="form-group">
                <label for="nome">Endereco:</label>
                <input type="text" class="form-control" id="endereco" ng-model="obj.endereco">
            </div>
            <div class="form-group">
                <label for="nome">Número:</label>
                <input type="text" class="form-control" id="numero" ng-model="obj.numero">
            </div>
            <div class="form-group">
                <label for="nome">Complemento:</label>
                <input type="text" class="form-control" id="complemento" ng-model="obj.complemento">
            </div>
            <div class="form-group">
                <label for="nome">Cidade:</label>
                <input type="text" class="form-control" id="cidade" ng-model="obj.cidade">
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-success" ng-click="cadastrar(obj)">Salvar</button>
            </div>
        </form>
    </div>
</div>