<div class="wapp">
    <div ng-include="'app/views/commons/header.html'"></div>
    <div ng-include="'app/views/commons/subheader.html'"></div>
    <div ng-include="'app/views/commons/banner.html'"></div>
    <!-- <section class="bibliografia">
        <h4>Bibliografia</h4>
        <p>
            A marca de um Guerreiro Um grande idealista que se sensibiliza com o sofrimento do próximo,
            que acredita no lado bom de todo ser humano, que espera uma qualidade de vida melhor para cada um dos paranaenses, e acima
            de tudo, um trabalhador incansável pelas causas justas e nobres do nosso estado. Desta maneira, podemos iniciar a descrição
            de quem é Nereu Alves de Moura, um paranaense que nasceu na Comunidade de São José, no Município de São João, Região Sudoeste,
            em 6 de julho de 1959. Filho do gaúcho Cícero de Moura e da catarinense Florisbela Alves de Moura, dona Bela, Nereu é o 13º
            filho entre 15 irmãos de uma família simples de pequenos produtores rurais, onde o pai foi um dos principais desbravadores
            do Sudoeste do estado. A política, segundo ele, está no sangue. Seu pai foi um grande militante e Nereu iniciou sua caminhada
            nos bancos escolares, como presidente do CAEG – Centro de Atividades Estudantis de 1º e 2º Graus de Guarapuava. Mais tarde,
            o futuro deputado teve intensa atuação na União Paranaense dos Estudantes Secundaristas (UPES) e na União Paranaense dos
            Estudantes (UPE), principalmente nas lutas contra o regime militar, pelo restabelecimento da democracia e do estado de direito,
            em nosso país. Sua vida partidária começou em 1979, sendo um dos fundadores do Partido do Movimento Democrático Brasileiro
            (PMDB), sigla da qual tem orgulho de pertencer até hoje. Antes de se candidatar a um cargo eletivo, Nereu foi assessor parlamentar
            do ex-presidente da Assembleia Legislativa, deputado Nilso Sguarezi e do ex-deputado e ex-governador do Paraná, Mário Pereira.
            Foi candidato a Deputado Estadual pelo PMDB em 1990, conseguindo expressiva votação; Assumiu uma cadeira na Assembleia Legislativa
            do Estado do Paraná, no dia 04 de janeiro de 1993; Candidatou-se novamente nas eleições de 1994, elegendo-se com 35.619 votos,
            sendo um dos mais votados do Paraná; Em 1998, candidatou-se novamente reelegendo-se com 34.427 votos sendo o mais votado
            do PMDB no Estado do Paraná; Em 2002, conquistou 47.581 votos; Em 2006, obteve 88.981 votos, sendo o segundo Deputado Estadual
            mais votado do Paraná; Em 2010, foi reeleito com 83.034 votos; Em 2014 foi reeleito para o 7º mandato com 48.735 votos. Títulos
            de Cidadão HonorárioPelos relevantes serviços prestados à comunidade, já recebeu diversos títulos de Cidadão Honorário, das
            seguintes cidades:
        </p>
    </section> -->
    <!-- <footer>
        Aqui é o footer
    </footer> -->
</div>